<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
  </div>
</nav>

-->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  	<div class="row">
	  <div class="col-md-6">&nbsp;</div>
	  <div class="col-md-6 amb-hero-form">

    <h1 class="cover-heading">Share the <strike>road</strike> love</h1>
    <p class="lead form-description">To be alerted when <mark class="text-nowrap">About My Bike</mark> is ready...</p>

    <form id="email-alert-signup">
      <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div class="form-group">
        <input type="email" name="signup[email]" id="signup_email" class="form-control" placeholder="Enter your email" required="true">
         <small>(We will not share your email)</small>
      </div>

      <div class="checkbox early-access-request-group">
        <label>
          <input type="checkbox" id="early-access-request" name="early-access-request"> I'd like to request early access
        </label>
      </div>

      <div class="form-group" id="bike-photo-upload">
        <label for="preview-request">Upload a photo of your bike</label>
        <input id="bike-photo" name="bike-photo" type="file"> 
      </div>

      <div class="form-group">
        <button type="submit" name="commit" class="btn btn-success amb-early-access-submit">Send me an alert</button>
        &nbsp;<div class="submit-success"></div>
      </div>
  	</form>

	  </div>
	</div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <h2>To make an <span class="text-nowrap">About My Bike</span> page</h2>
  <div class="row">
   <dl class="how-to">
    <dt class="col-md-4 step-1">Sincerely like your own bike</dt>
    <dt class="col-md-4">Upload a decent photo of your bike</dt>
    <dt class="col-md-4">Add as much or as little detail as you'd like</dt>
   </dl>
  </div>

  <hr>

  <footer>
    <p>&copy;2016 AboutMyBike.com <a href="https://twitter.com/arobson">@arobson</a></p>
  </footer>
</div> <!-- /container -->

<script>

document.addEventListener("DOMContentLoaded", function(event) { 

  $(document).ready(function() {
    $('#early-access-request').click(function() {
    if($('#bike-photo-upload').css('visibility') === 'visible') {
        $('#bike-photo-upload').css('visibility', 'hidden');
    } else {
        $('#bike-photo-upload').css('visibility', 'visible');
      }
    });

    $('#email-alert-signup').submit(function(event) {

      event.preventDefault();

      // validate
      $.ajax({
        type: "POST",
        url: "/signups",
        data: $(this).serialize(),
        success: function(data) {
          $('.submit-success').html('Thanks! We\'ll be in touch soon.');
        },
        error: function(data) {
          $('.submit-success').html('Our apologies, something went wrong.');
        }
      });

    });


  });

});




</script>

