@import '../../node_modules/bootstrap/less/bootstrap.less';


body {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 6rem;
}

input[type="file"].form-control-file {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
}

.add-bike-photo {
  opacity: 0.4;
}

.add-bike-form {
  margin: 40px auto;
  max-width: 360px;
}