/*
 * Affix and center
 */
.jumbotron {
  background-image: image-url("lowres_hero_art_wide.png");
}

.amb-hero-form {
  background: image-url("pink_heart.png") no-repeat right top;
}

.jumbotron h1 {
  font-size: 50px;
}
/*
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
*/

