@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'variables';
@import 'utilities';

.foo {
  @include absolute(0, 0, auto, auto);
}

body {
  padding-top: 2rem;
}

.generic-container {
  width: 90%;
  margin: 1rem auto 3rem;
}

.bike-photo-wrapper {
  background-color: #ccc;
  margin: 1em 0 2em;
  text-align: center;
  overflow: hidden;
}

.add-bike-form {
  max-width: 410px;
}

.form-check-label {
  padding-left: 1.25rem;
  cursor: pointer;
}

.photo-upload{
  text-align: center;
}

input[type="radio"] {
  margin: 0 1em;
  font-size: 1.4rem;
}

input[type="file"].form-control-file {
  display: none;
}

footer {
  font-size: smaller;
}

.preview-bike-photo-wrapper {
  height: 238px;
  width: 360px;
  overflow: hidden;
}

.form-control-number {
  width: 70px;
}

label {
  font-weight: normal;
}

legend {
  font-size: 1.6rem;
}

nav {
  margin-bottom: 2rem;
  border-bottom: 1px solid #aaa;
}

.custom-file-upload {
  cursor: pointer;
}

.add-bike-photo {
  opacity: 0.30;
}

.add-bike-photo:hover {
  opacity: 0.25;
}

dl.bike-details dt {
  float: left;
  padding-right: 1rem;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.card {
  margin-bottom: 1.5em;
}

.card-block {
  padding: 1em;
}

.card-photo-wrapper {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-photo-wrapper {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-photo-wrapper {
    height: 145px;
  }
  .card-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 543px) and (max-width: 767px) {
  .card-photo-wrapper {
    height: 350px;
  }
}

@media (min-width: 500px) and (max-width: 543px) {
  .card-photo-wrapper {
    height: 315px;
  }
}

@media (min-width: 465px) and (max-width: 499px) {
  .card-photo-wrapper {
    height: 290px;
  }
}

@media (min-width: 430px) and (max-width: 465px) {
  .card-photo-wrapper {
    height: 250px;
  }
}


@media (min-width: 390px) and (max-width: 429px) {
  .card-photo-wrapper {
    height: 235px;
  }
}

@media (max-width: 389px) {
  .card-photo-wrapper {
    height: 200px;
  }
}


.card-photo {
    width: 100%;
}
